@import normalize

// Variables

$red: #cc0000
$white: #f1f1f1

// mixins

=clearfix
	&:after, &:before
		content: " "
		display: table
	&:after
		clear: both

=center($horizontal: true, $vertical: true)
	position: absolute
	@if $horizontal and $vertical
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
	@else if $horizontal
		left: 50%
		transform: translate(-50%, 0)
	@else if $vertical
		top: 50%
		transform: translate(0, -50%)

=position($position, $top, $right, $bottom, $left)
	position: $position
	top: $top
	right: $right
	bottom: $bottom
	left: $left

=size($width, $height: $width)
	width: $width
	height: $height

// Base

html
	font-size: 10px
	// @media (max-width: 680px)


*
	box-sizing: border-box

body
	background: darken($red, 6%)
	color: $white
	font-family: 'Helvetica Neue', sans-serif
	font-weight: 300
	font-size: 3.2rem
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center

strong
	font-weight: 700

.title
	margin: 2rem
	font:
		family: Baskerville, serif
		weight: 300

	span
		display: block
		font:
			weight: 400
			size: 2.4rem

.poster
	margin: 2rem
	position: relative
	box-shadow: 0 0 .4em 0 rgba(0,0,0, .2)
	&:before, &:after
		content: ""
		width: 46.8%
		position: absolute
		bottom: .3rem
		box-shadow: 0 0 .4em .2em rgba(0,0,0, .3)
		z-index: -1

	&:before
		left: 1.4rem
		transform: rotate(-2deg)

	&:after
		right: 1.4rem
		transform: rotate(2deg)

	&__content
		+size(60rem, 52rem)
		background: $red


	&__column
		+size(50%, 100%)
		float: left

	&__body
		background: $red
		padding: 0 3.2rem
		display: flex
		flex-direction: column
		justify-content: center


	&__quote
		margin: 0
		padding: 0
		position: relative
		line-height: 3.4rem
		letter-spacing: .08rem


	// &__quote:before
	// 	content: '"'
	// 	position: absolute

	&__quote:before
		left: -1.5rem
	&__quote:after
		display: inline


	&__credit
		font-size: 1.6rem
		line-height: 1.9rem
		margin-top: 1.2rem

	&__name
		&:after
			content: ","
			font-weight: 700

	&__year
		&:before
			content: "'"
		&:after
			content: ","

	&__major
		display: block

	&__img
		object-fit: cover
		filter: grayscale(100%)


// input

.controls
	width: 100%
	padding: 2.4rem
	order: 1
	background: darken($red, 12%)

.input
	width: 100%
	font-size: 1.6rem
	border: none
	border-radius: 4px
	appearance: none
	outline: none
	padding: 1rem
	background: #ddd
	transition: background .2s linear
	&:focus
		background: #fff



.button
	display: block
	width: 100%
	margin-top: 1.6rem
	background: $red
	border: none
	color: $white
	font:
		size: 1.6rem
		weight: 500
	padding: 1.6rem 0
	line-height: 1.6rem
	border-radius: 4px
	cursor: pointer
	outline: none
	appearance: none
	box-shadow: 0 1px .2em .1em rgba(0,0,0, .03)
	transition: all .2s linear
	&:hover
		background: lighten($red, 8%)
		box-shadow: 0 1px 1em .1em rgba(0,0,0, .08)
