<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>NEU Poster Generator</title>

  <link rel="stylesheet" href="../static/css/main.css">

</head>
  <body>

    <script>
      function postUserAuth(accessToken, userID) {
        $.ajax({
          url: '/auth',
          data: {
            'accessToken': accessToken,
            'userID': userID,
          },
          type: 'POST',
          dataType: 'json',
          success: function(data) {
            // console.log(data, accessToken, userID);
          }
        });
      }

      function onLogin(response) {
        if (response.status == 'connected') {
          FB.api('/me?fields=first_name,name,picture,education,photos', function(data) {
            var welcomeBlock = document.querySelector('.fb-login');
                var greeting = '<p class="greeting">Hello, ' + data.first_name + '!</p>';
              var userAvatar = '<img class="avatar" src="' + data.picture.data.url + '" />';
            welcomeBlock.innerHTML = greeting + userAvatar;

            var accessToken = response.authResponse.accessToken,
                     userID = response.authResponse.userID;
            postUserAuth(accessToken, userID);
          });
        }
      }

      // This function is called when someone finishes with the Login
      // Button.  See the onlogin handler attached to it in the sample
      // code below.
      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
            // console.log('connected!');
            onLogin(response);
          } else {
            FB.login(function(response) {
              onLogin(response);
            }, {scope: 'user_education_history, publish_actions, user_photos'});
          }
        });
      }

      window.fbAsyncInit = function() {
      FB.init({
        appId      : '1614913708820945',
        cookie     : true,  // enable cookies to allow the server to access
                            // the session
        xfbml      : true,  // parse social plugins on this page
        version    : 'v2.5' // use graph api version 2.5
      });

        checkLoginState();

      };

      // Load the SDK asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>



  <header class="header">
    <h1 class="title">Poster Generator</h1>
    <div class="fb-login">
      <div class="fb-login__status" id="status"></div>
    </div>
  </header>

  <section class="js-body app__body">
    <div class="controls">
      <div class="wrapper">
        <textarea class="js-input input" rows="3" placeholder="Enter your quote here"></textarea>
        <button class="js-button button">Bold Random Words</button>
        <button class="js-button--fb button button--fb" data-hover="js-button--fb--hover">
          <span>P</span><span>o</span><span>s</span><span>t</span> <span>t</span><span>o</span> <span>F</span><span>a</span><span>c</span><span>e</span><span>b</span><span>o</span><span>o</span><span>k</span>
        </button>
        <!-- <div class="fb-like" data-share="true" data-width="450" data-show-faces="true" data-layout="button_count">></div> -->
      </div>
    </div>
  </section>

  <div class="ghost js-ghost"></div>

    <script src="../static/js/es6-promise.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="../static/js/html2canvas.js"></script>
    <script src="../static/js/app.js"></script>

  </body>
</html>
