<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>NEU Poster Generator</title>

  <link rel="stylesheet" href="../static/css/main.css">

</head>
  <body>

    <script>
      function postUserAuth(accessToken, userID) {
        $.ajax({
          url: '/auth',
          data: {
            'accessToken': accessToken,
            'userID': userID,
          },
          type: 'POST',
          dataType: 'json',
          success: function(data) {
            // console.log(data, accessToken, userID);
          }
        });
      }

      function onLogin(response) {
        if (response.status == 'connected') {
          FB.api('/me?fields=first_name,name,picture,education', function(user) {

          // POST Facebook accessToken and userID
          var accessToken = response.authResponse.accessToken,
                   userID = response.authResponse.userID;
          postUserAuth(accessToken, userID);

          // create welcome block
          var welcomeBlock = document.querySelector('.fb-login');

            if ( user.hasOwnProperty('first_name') ) {
              var firstName = user.first_name;
              var greeting = '<p class="greeting">Hello, ' + firstName + '!</p>';
            } else if ( firstName === undefined ) {
              var firstName = '';
            }

            if ( user.hasOwnProperty('picture') ) {
              var avatar = user.picture.data.url;
              var userAvatar = '<img class="avatar" src="' + avatar + '" />';
            } else if ( avatar === undefined ) {
              var avatar = '';
            }

            var credit = {};
            var getProp = function(prop, val) {
              credit[prop] = val;
            }

            if ( user.hasOwnProperty('name') ) {
              var fullName = '<span class="poster__name"><strong>' + user.name + '</strong></span>';
              getProp("fullName", fullName);
            } else if ( fullName === undefined ) {
              var fullName = '';
            }

            if ( user.hasOwnProperty('education') ) {
              var education = user.education;

                function isCollege(school) {
                  return school.type === "College";
                }

                if ( isCollege ) {
                  var college = education.find(isCollege);

                  if ( college.hasOwnProperty('year') ) {
                    var fullYear = college.year.name.split('');
                    var shortYear = '<span class="poster__year">' + "'" + fullYear[2] + fullYear[3] + '</span>';
                    getProp("shortYear", shortYear);
                  } else if ( fullYear  === undefined ) {
                    var shortYear = '';
                  }

                  if ( college.hasOwnProperty('concentration') ) {

                    function isMajor(fullMajor, concentration) {
                      var isMinor = concentration.name.includes("Minor" || "minor" || "MINOR");
                      if ( isMinor === false ) {
                        return fullMajor + concentration.name + ' & ';
                      }
                      else {
                        return fullMajor;
                      }
                    }

                    var major = college.concentration.reduce(isMajor, []);
                    var fullMajor = '<span class="poster__major">' + major.substr(0, major.length-3) + '</span>';
                    getProp("fullMajor", fullMajor);
                  } else if ( major === undefined ) {
                    var fullMajor = '';
                  }

                } else {
                  var fullMajor = '';
                  var shortYear = '';
                }

                var values = []
                for ( key in credit ) {
                  if ( credit.hasOwnProperty(key) ) {
                    var value = credit[key];
                    values.push(value)
                  }
                }

                $credit = values.join(', ');
                $('.js-credit').html($credit);

            } else if ( education === undefined ) {
              var fullMajor = '';
              var shortYear = '';
            }

            welcomeBlock.innerHTML = greeting + userAvatar;

            var loaded = function() {
              $('.js-loader').remove();
            };

            setTimeout(loaded, 400);

          });
        }
      }

      // This function is called when someone finishes with the Login
      // Button.  See the onlogin handler attached to it in the sample
      // code below.
      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
            // console.log('connected!');
            onLogin(response);
          } else {
            FB.login(function(response) {
              onLogin(response);
            }, {scope: 'user_education_history, publish_actions, user_photos'});
          }
        });
      }

      window.fbAsyncInit = function() {
      FB.init({
        appId      : '1614913708820945',
        cookie     : true,  // enable cookies to allow the server to access
                            // the session
        xfbml      : true,  // parse social plugins on this page
        version    : 'v2.5' // use graph api version 2.5
      });

        checkLoginState();

      };

      // Load the SDK asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>



  <header class="header">
    <h1 class="title">Poster Generator</h1>
    <div class="fb-login">
      <div class="fb-login__status" id="status"></div>
    </div>
  </header>

  <section class="js-body app__body">

<main class="main">
   <section class="poster">
     <div class="js-poster poster__content">
       <div class="poster__column poster__body">
       	<blockquote class="js-quote poster__quote">
          Your quote goes here
        </blockquote>
     		<div class="js-credit poster__credit">

     		</div>
     	</div>
       <div class="poster__column poster__img js-img"></div>
     </div>
   </section>
 </main>


    <div class="controls">
      <div class="wrapper">
        <textarea class="js-input input" rows="3" placeholder="Enter your quote here"></textarea>
        <button class="js-button button">Bold Random Words</button>
        <button class="js-button--fb button button--fb" data-hover="js-button--fb--hover">
          <span>P</span><span>o</span><span>s</span><span>t</span> <span>t</span><span>o</span> <span>F</span><span>a</span><span>c</span><span>e</span><span>b</span><span>o</span><span>o</span><span>k</span>
        </button>
        <!-- <div class="fb-like" data-share="true" data-width="450" data-show-faces="true" data-layout="button_count">></div> -->
      </div>
    </div>
  </section>

  <div class="ghost js-ghost"></div>

  <div class="js-loader overlay">
    <div class="loader">
      <div class="loader-wrapper">
        <span class="loader-dot"></span>
        <span class="loader-dot"></span>
        <span class="loader-dot"></span>
      </div>
    </div>
  </div>

    <script src="../static/js/es6-promise.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="../static/js/html2canvas.js"></script>
    <script src="../static/js/app.js"></script>

  </body>
</html>
